main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/minions/bg-game2.png");
  background-size: 200px;
  background-repeat: repeat;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px;
  padding: 8px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
}

#screen {
  display: grid;
  width: 100%;
  max-width: 800px;
  gap: 15px;
  margin: 0 auto;
}

#screen.easy {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#screen.medium {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#screen.hard {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.card {
  position: relative;
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  transition: 400ms ease;

  /* border: 2px solid yellowgreen; */
}

.front {
  transform: rotateY(180deg);
  /* background-color: blueviolet; */
}

.back {
  backface-visibility: hidden;
  background-image: url("../img/minions/back-card.png");
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.8;
}
